@import "colors";
$extra-small: 576px;
$small: 576px;
$medium: 768px;
$normal: 1024px;
$large: 992px;
$extra-large: 1200px;
$sidebar-width: 210px;
$sidebar-font-color: $light-grey;
$sidebar-font-color-active: $white;
$sidebar-background-color-active: $blue-white;
$sidebar-background-color-hover: $blue-white;
$sidebar-icon-color-active: $blue;
$sidebar-icon-color: $gray-06;
$sidebar-title-color: $sidebar-font-color;
$sidebar-circle-color: $light-grey;
$card-font-color: $dark-grey;
$card-title-font-color: $grey;
$toolbar-title-font-color: $light-grey;
$toolbar-button-font-color: $white;
$toolbar-button-background-color: $pink;
$toolbar-button-background-color-active: $dark-pink;
$sidebar-content-padding: 48px;
$tabs-header-font-color: $light-grey;
$tabs-header-font-color-active: $blue;
$tabs-ink-bar-color: $blue;
$chart-tooltip-background-color: $blue;
$chart-tooltip-border-color: $blue;
$chart-tooltip-font-color: $white;
$scrollbar-track-color: $light-grey;
$scrollbar-track-piece-color: $white;
$scrollbar-thumb-color: $light-grey;
$scrollbar-corner-color: $light-grey;
$header-background-color: $blue;
$header-height: 100px;
$header-button-background-color: $blue;
$header-button-background-color-hover: $black-08;
$header-button-font-color: $white;
$header-title-font-color: $white;
$footer-height: 48px;
$footer-width: calc(100% - #{$sidebar-content-padding});
$footer-link-color: $blue;
$footer-icon-color: $gray-06;
$footer-icon-background-color-hover: $black-08;
$settings-button-background-color: $white;
$settings-button-background-color-hover: $blue;
$settings-button-color: $light-grey;
$settings-button-color-hover: $white-35;
$settings-menu-font-color: $dark-grey;
$settings-menu-background-color-hover: $blue-white;
$text-c0lor-blue: #0974df;
$text-color-grey: #707070;
$background-content: #faf9ff;
$button-background-color: linear-gradient(to left, #0000ad, #0974df, #50a0fc);
$color-th-table: #e3f0ff;
$text-color-white: #ffffff;
$button-background: linear-gradient(to right, #50a0fc, #032bbf);
@font-face {
    font-family: OpenSans-Bold;
    src: url("/assets/font/OpenSans-Bold.ttf");
}

@font-face {
    font-family: OpenSans-Regular;
    src: url("/assets/font/OpenSans-Regular.ttf");
}

:root {
    /** primary **/
    -color-primary: #F5BC55;
    -color-primary-rgb: 240, 222, 159;
    -color-primary-contrast: #000000;
    -color-primary-contrast-rgb: 0, 0, 0;
    -color-primary-shade: #d3c38c;
    -color-primary-tint: #f2e1a9;
    //@function
    -color-secondary: #AF6BAD;
    -color-secondary-rgb: 175, 107, 173;
    -color-secondary-contrast: #000000;
    -color-secondary-contrast-rgb: 0, 0, 0;
    -color-secondary-shade: #9a5e98;
    -color-secondary-tint: #b77ab5;
    //
    -color-tertiary: #4CB199;
    -color-tertiary-rgb: 76, 177, 153;
    -color-tertiary-contrast: #000000;
    -color-tertiary-contrast-rgb: 0, 0, 0;
    -color-tertiary-shade: #439c87;
    -color-tertiary-tint: #5eb9a3;
    //
    -color-success: #95BC6E;
    -color-success-rgb: 149, 188, 110;
    -color-success-contrast: #000000;
    -color-success-contrast-rgb: 0, 0, 0;
    -color-success-shade: #83a561;
    -color-success-tint: #a0c37d;
    //
    -color-warning: #DCD860;
    -color-warning-rgb: 220, 216, 96;
    -color-warning-contrast: #000000;
    -color-warning-contrast-rgb: 0, 0, 0;
    -color-warning-shade: #c2be54;
    -color-warning-tint: #F0DE9F;
    //
    -color-danger: #B25D54;
    -color-danger-rgb: 178, 93, 84;
    -color-danger-contrast: #ffffff;
    -color-danger-contrast-rgb: 255, 255, 255;
    -color-danger-shade: #D15151;
    -color-danger-tint: #C9785F;
    //
    -color-dark: #1A1A1A;
    -color-dark-rgb: 26, 26, 26;
    -color-dark-contrast: #ffffff;
    -color-dark-contrast-rgb: 255, 255, 255, 0.5;
    -color-dark-shade: #171717;
    -color-dark-tint: #313131;
    //
    -color-medium: #292929;
    -color-medium-rgb: 41, 41, 41;
    -color-medium-contrast: #ffffff;
    -color-medium-contrast-rgb: 255, 255, 255;
    -color-medium-shade: #242424;
    -color-medium-tint: #3e3e3e;
    //
    -color-light: #FFFFFF;
    -color-light-rgb: 255, 255, 255;
    -color-light-contrast: #000000;
    -color-light-contrast-rgb: 0, 0, 0;
    -color-light-shade: #5E5E5E;
    -color-light-tint: #ffffff;
    //background
    -background-color: #1A1A1A;
    -toolbar-background: #1A1A1A;
    -item-background: #1A1A1A;
    -card-background: #292929;
    // color text label
    --light-shade: rgba(255, 255, 255, 0.5);
}