<div>
    <div class="overall-title">
        <div class="img-title-info">
            <img src="assets/svg/avatar-employee.png" />
        </div>
        <div class="title-info">Minh Tran</div>
        <div
            class="img-title-info"
            (click)="closeDialog()"
        >
            <img src="assets/svg/close-setup-workday.svg" />
        </div>
    </div>
    <div class="number-add-salary">
        <div class="number-account">01</div>
        <div class="delete-add-salary">
            <img src="assets/svg/delete-icon.svg" />
        </div>
    </div>
    <div class="overall-details">
        <div class="details-setup">
            <div class="title-setup-workday">Loại</div>
            <div class="info-settup-workday">
                <input
                    type="text"
                    class="hrm-input-create-salary"
                />
            </div>
            <div style="width: 5%">
                <img src="assets/svg/clock-1.svg" />
            </div>
        </div>
    </div>
    <div class="overall-details">
        <div class="details-setup">
            <div class="title-setup-workday">Tiêu đề</div>
            <div class="info-settup-workday">
                <input
                    type="text"
                    class="hrm-input-create-salary"
                />
            </div>
        </div>
    </div>
    <div class="overall-details">
        <div class="details-setup">
            <div class="title-setup-workday">Số tiền cộng</div>
            <div class="info-settup-workday">
                <input
                    type="text"
                    class="hrm-input-moneyplus-salary"
                />
            </div>
        </div>
    </div>
    <hr class="hr-salary" />
    <div class="number-add-salary">
        <div class="number-account">02</div>
        <div class="delete-add-salary">
            <img src="assets/svg/delete-icon.svg" />
        </div>
    </div>
    <div class="overall-details">
        <div class="details-setup">
            <div class="title-setup-workday">Loại</div>
            <div class="info-settup-workday">
                <input
                    type="text"
                    class="hrm-input-create-salary"
                />
            </div>
            <div style="width: 5%">
                <img src="assets/svg/clock-1.svg" />
            </div>
        </div>
    </div>
    <div class="overall-details">
        <div class="details-setup">
            <div class="title-setup-workday">Tiêu đề</div>
            <div class="info-settup-workday">
                <input
                    type="text"
                    class="hrm-input-create-salary"
                />
            </div>
        </div>
    </div>
    <div class="overall-details">
        <div class="details-setup">
            <div class="title-setup-workday">Số tiền cộng</div>
            <div class="info-settup-workday">
                <input
                    type="text"
                    class="hrm-input-moneyplus-salary"
                />
            </div>
        </div>
    </div>
</div>

<div>
    <div class="add-new-plus-salary">
        <img src="assets/svg/add-new.svg" />
        Thêm khoản cộng
    </div>
    <hr class="hr-salary" />
    <div class="a">
        <div class="hrm-btn-confirm-salary">Xác nhận</div>
        <div class="b">
            <div>Tổng khoản cộng:</div>
            <div>+2.400.000 VNĐ</div>
        </div>
    </div>
</div>