<div class="title-page" routerLink="/home">
    <div>
        <span class="material-icons keybroad"> keyboard_arrow_left </span>
    </div>
    <div>Đi muộn, về sớm</div>
</div>
<div class="container-pages">
    <div class="list-icon-employee">
        <div class="workday-select-month">
            <div class="workday-title-month">
                <p>Tháng</p>
            </div>
            <div>
                <input type="month" class="hrm-input-date" />
            </div>
        </div>
    </div>
    <div>
        <table class="hrm-table-left-early" style="overflow-y: scroll">
            <tr class="tr-title-table">
                <th colspan="2" class="th-title-table">Tên</th>
                <th class="th-title-table">Tổng</th>
                <th class="th-title-table">1</th>
                <th class="th-title-table">2</th>
                <th class="th-title-table">3</th>
                <th class="th-title-table">4</th>
                <th class="th-title-table">5</th>
                <th class="th-title-table">6</th>
                <th class="th-title-table">7</th>
                <th class="th-title-table">8</th>
                <th class="th-title-table">9</th>
                <th class="th-title-table">10</th>
                <th class="th-title-table">11</th>
                <th class="th-title-table">12</th>
                <th class="th-title-table">13</th>
                <th class="th-title-table">14</th>
                <th class="th-title-table">15</th>
            </tr>
            <tr class="tr-title-table">
                <th colspan="19">
                    <div class="col-span"></div>
                </th>
            </tr>
            <tr>
                <td class="first-column">
                    <img src="assets/svg/avatar-employee.png" alt="" />
                </td>
                <td>Peter</td>
                <td class="third-column">S25869</td>
                <td></td>
                <td class="hrm-details-table-left-early">
                    <div class="go-late">Đi muộn</div>
                    <div>40p</div>
                </td>
                <td class="hrm-details-table-left-early">
                    <div class="go-late">Đi muộn</div>
                    <div>40p</div>
                </td>
                <td></td>
                <td></td>
                <td class="hrm-details-table-left-early">
                    <div class="go-late">Đi muộn</div>
                    <div>40p</div>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td class="hrm-details-table-left-early">
                    <div class="go-late">Đi muộn</div>
                    <div>40p</div>
                </td>
                <td></td>
                <td></td>
                <td class="hrm-details-table-left-early">
                    <div class="go-late">Đi muộn</div>
                    <div>40p</div>
                </td>
                <td></td>
                <td class="hrm-details-table-left-early">
                    <div class="go-late">Đi muộn</div>
                    <div>40p</div>
                </td>
            </tr>
            <tr>
                <td class="first-column">
                    <img src="assets/svg/avatar-employee.png" alt="" />
                </td>
                <td>Peter</td>
                <td class="third-column">S25869</td>
                <td></td>
                <td class="hrm-details-table-left-early">
                    <div class="go-late">Đi muộn</div>
                    <div>40p</div>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td class="hrm-details-table-left-early">
                    <div class="go-late">Đi muộn</div>
                    <div>40p</div>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="hrm-details-table-left-early">
                    <div class="go-late">Đi muộn</div>
                    <div>40p</div>
                </td>
                <td></td>
                <td class="hrm-details-table-left-early">
                    <div class="go-late">Đi muộn</div>
                    <div>40p</div>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="first-column">
                    <img src="assets/svg/avatar-employee.png" alt="" />
                </td>
                <td>Peter</td>
                <td class="third-column">S25869</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="hrm-details-table-left-early">
                    <div class="go-late">Đi muộn</div>
                    <div>40p</div>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="hrm-details-table-left-early">
                    <div class="go-late">Đi muộn</div>
                    <div>40p</div>
                </td>
                <td></td>
                <td class="hrm-details-table-left-early">
                    <div class="go-late">Đi muộn</div>
                    <div>40p</div>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="first-column">
                    <img src="assets/svg/avatar-employee.png" alt="" />
                </td>
                <td>Peter</td>
                <td class="third-column">S25869</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="hrm-details-table-left-early">
                    <div class="go-late">Đi muộn</div>
                    <div>40p</div>
                </td>
                <td></td>
                <td class="hrm-details-table-left-early">
                    <div class="go-late">Đi muộn</div>
                    <div>40p</div>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="hrm-details-table-left-early">
                    <div class="go-late">Đi muộn</div>
                    <div>40p</div>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="first-column">
                    <img src="assets/svg/avatar-employee.png" alt="" />
                </td>
                <td>Peter</td>
                <td class="third-column">S25869</td>
                <td></td>
                <td class="hrm-details-table-left-early">
                    <div class="go-late">Đi muộn</div>
                    <div>40p</div>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td class="hrm-details-table-left-early">
                    <div class="go-late">Đi muộn</div>
                    <div>40p</div>
                </td>
                <td></td>
                <td class="hrm-details-table-left-early">
                    <div class="go-late">Đi muộn</div>
                    <div>40p</div>
                </td>
                <td></td>
                <td></td>
                <td class="hrm-details-table-left-early">
                    <div class="go-late">Đi muộn</div>
                    <div>40p</div>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>