// .workday-img-month {
//   width: 60%;
//   margin-left: 15px;
// }
// .workday-btn {
//   width: 20%;
// }
// .show {
//   opacity: 50%;
//   transition: opacity 1s;
// }

// .hide {
//   opacity: 100%;
//   transition: opacity 1s;
// }
// ::placeholder {
//   margin-left: 2em;
// }
// .img-create-workdays {
//   height: 57px;
// }

.title-page{
  display: flex;
  align-items: center;
  .item-title{
    font-size: 32px;
      color: white;
      font-weight: bold;
      margin-right: 3.5em;
  }
  .search {
    position: relative;
    img {
      position: absolute;
      margin: 20px;
      left: 0;
    }
    input {
      padding: 0 20px 0 55px;
    }
  }

}
.container-pages{
   display: flex;
   align-items: center;
   flex-direction: row;
   margin: 40px 0 40px 0;
   .list-icon-employee{
     .workday-img-month{
       width: 75px;
       border-radius: 50%;
       background-color: #292929;
       img{
         margin: 13px;
       }
     }
     display: flex;
     flex-direction: row;
     align-items: center;
     width: 100%;
     .workday-btn{
       display: flex;
       flex-direction: row;
       width: 100%;
       justify-content: flex-end;
     }
     .workday-select-month{
       border-radius: 20px;
       background-color:#292929 ;
       display: flex;
       flex-direction: row;
       align-items: center;
       margin-right: 15px;
       span{
         color: white;
         font-weight: bold;
         margin: 0 10px;
       }
     }
   }
}
table{
  background: none;
  .hidden{
    opacity: 0.5;
  }
  .show{
    opacity: 1;
  }
  .name{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    justify-content: center;
    img {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      margin: 0 15px;
    }
    input {
      width: 16px;
      height: 16px;
    }
  }
}