<div class="overall-title">
    <div class="img-title-info">
        <img
            src="assets/svg/setup-workdays.svg"
            alt=""
        />
    </div>
    <div class="title-info">Thiết lập chấm công</div>
    <div
        class="img-title-info"
        (click)="closeDialog()"
    >
        <img
            src="assets/svg/close-setup-workday.svg"
            alt=""
        />
    </div>
</div>
<div class="overall-details">
    <div class="details-setup">
        <div class="title-setup-workday">Vào ca</div>
        <div
            class="info-settup-workday"
            style="width: 80%"
        >
            <input
                type="text"
                class="hrm-input-setup-workday"
            />
        </div>
        <div style="width: 10%">
            <img
                src="assets/svg/clock-1.svg"
                alt=""
            />
        </div>
    </div>
</div>
<div class="overall-details">
    <div class="details-setup">
        <div class="title-setup-workday">Số phút đến muộn</div>
        <div
            class="info-settup-workday"
            style="width: 80%"
        >
            <input
                type="text"
                class="hrm-input-setup-workday"
            />
        </div>
        <div style="width: 10%">
            <img
                src="assets/svg/clock-1.svg"
                alt=""
            />
        </div>
    </div>
</div>
<div class="overall-details">
    <div class="details-setup">
        <div class="title-setup-workday">Tan ca</div>
        <div
            class="info-settup-workday"
            style="width: 80%"
        >
            <input
                type="text"
                class="hrm-input-setup-workday"
            />
        </div>
        <div style="width: 10%">
            <img
                src="assets/svg/clock-1.svg"
                alt=""
            />
        </div>
    </div>
</div>
<div class="overall-details">
    <div class="details-setup">
        <div class="title-setup-workday">Số phút về sớm</div>
        <div
            class="info-settup-workday"
            style="width: 80%"
        >
            <input
                type="text"
                class="hrm-input-setup-workday"
            />
        </div>
        <div style="width: 10%">
            <img
                src="assets/svg/clock-1.svg"
                alt=""
            />
        </div>
    </div>
</div>
<div class="overall-details">
    <div class="details-setup">
        <div class="title-setup-workday">Ngày nghỉ cố định</div>
        <div
            class="info-settup-workday"
            style="width: 80%"
        >
            <input
                type="text"
                class="hrm-input-setup-workday"
            />
        </div>
        <div style="width: 10%">
            <img
                src="assets/svg/Group 4671.svg"
                alt=""
            />
        </div>
    </div>
</div>
<div class="overall-details">
    <div class="details-setup">
        <div class="title-setup-workday">Ngày lễ trong tháng</div>
        <div
            class="info-settup-workday"
            style="width: 80%"
        >
            <input
                type="text"
                class="hrm-input-setup-workday"
            />
        </div>
        <div style="width: 10%">
            <img
                src="assets/svg/Group 4671.svg"
                alt=""
            />
        </div>
    </div>
</div>
<div class="center">
    <button class="hrm-btn-setup-workday">Thiếp lập</button>
</div>