<div class="home-page">
    <div class="title-page">
        <div>Dashboard</div>
    </div>
    <div class="container-pages">
        <div class="header">
            <div class="name-company">
                <div class="details-title">
                    <div>
                        <img src="assets/svg/hrm-icon-home-page.svg" class="logo" />
                    </div>
                    <div>
                        <div class="text-media">Sapioso Media</div>
                        <div class="text-date">24/10/2020</div>
                    </div>
                </div>
                <div class="by-date">
                    <div>
                        <img src="assets/svg/arrow_left.svg" alt="" />
                    </div>
                    <div class="text-by-date">xem theo ngày</div>
                    <div>
                        <img src="assets/svg/arrow_right.svg" alt="" />
                    </div>
                </div>
            </div>
            <div class="leave-early">
                <div class="details-title">
                    <div>
                        <img src="assets/svg/Group 4806.svg" alt="" />
                    </div>
                    <div class="text-title" routerLink="/home/leftEarly">
                        Đi muộn, về sớm
                    </div>
                </div>
                <div class="number-employee">
                    05
                    <img src="assets/svg/avatar-employee.png" alt="" class="avatar" />
                    <img src="assets/svg/avatar-employee1.png" alt="" class="avatar" />
                </div>
            </div>
            <div class="not-allowed">
                <div class="details-title">
                    <div>
                        <img src="assets/svg/not-allowed.svg" alt="" />
                    </div>
                    <div class="text-title" routerLink="/home/not-allowed">
                        Nghỉ không phép
                    </div>
                </div>
                <div class="number-employee">0</div>
            </div>
            <div class="allowed">
                <div class="details-title">
                    <div>
                        <img src="assets/svg/allowed.svg" alt="" />
                    </div>
                    <div class="text-title" routerLink="/home/allowed">Nghỉ có phép</div>
                </div>
                <div class="number-employee">
                    04
                    <img src="assets/svg/avatar-employee.png" alt="" class="avatar" />
                    <img src="assets/svg/avatar-employee1.png" alt="" class="avatar" />
                </div>
            </div>
        </div>
        <div class="column">
            <div class="column-left">
                <div class="details-statistical-overall">
                    <div class="details-statistical-title">Thống Kê</div>
                    <div class="details-statistical">&#8226; Nhân viên mới, cũ</div>
                    <div class="details-statistical">&#8226; Thu chi hàng tháng</div>
                    <div class="details-statistical">&#8226; Tỉ lệ đi làm đúng giờ</div>
                    <div class="details-statistical">&#8226; Hợp đồng</div>
                    <div class="hrm-btn-contact">Liên hệ nhà cung cấp</div>
                </div>
                <div>
                    <img src="assets/svg/hrm-home-statisticalgit.svg" alt="" class="img-home-statistical" />
                </div>
            </div>
            <div class="column-right">
                <div style="height: 80%">
                    <div class="overall-title">
                        <div class="img-title-info">
                            <img src="assets/svg/hrm-icon-leave.svg" alt="" />
                        </div>
                        <div class="title-info">Đơn Xin nghỉ</div>
                    </div>
                    <table class="hrm-table-home-page">
                        <tr>
                            <th colspan="2" class="th-title-table">Tên</th>
                            <th class="th-title-table">Nội dung</th>
                            <th class="th-title-table">Thời gian</th>
                            <th class="th-title-table">Trạng thái</th>
                        </tr>
                        <tr>
                            <th colspan="5">
                                <div class="col-span"></div>
                            </th>
                        </tr>
                        <tr>
                            <td><img src="assets/svg/avatar-employee.png" alt="" /></td>
                            <td>Peter</td>
                            <td>Xin nghỉ</td>
                            <td>Chiều, 20/12/2020</td>
                            <td>
                                <div class="hrm-btn-confirm">Xác nhận</div>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="assets/svg/avatar-employee.png" alt="" /></td>
                            <td>Liam Payne</td>
                            <td>Xin về sớm</td>
                            <td>Chiều, 20/12/2020</td>
                            <td>
                                <div class="hrm-btn-Notconfirm">Chưa xác nhận</div>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="assets/svg/avatar-employee.png" alt="" /></td>
                            <td>Liam Payne</td>
                            <td>Xin về sớm</td>
                            <td>Chiều, 20/12/2020</td>
                            <td>
                                <div class="hrm-btn-Notconfirm">Chưa xác nhận</div>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="assets/svg/avatar-employee.png" alt="" /></td>
                            <td>Liam Payne</td>
                            <td>Xin về sớm</td>
                            <td>Chiều, 20/12/2020</td>
                            <td>
                                <div class="hrm-btn-Notconfirm">Chưa xác nhận</div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="birthday-content">
                    <img src="assets/svg/birthday-icon.svg" alt="" /> Hôm nay không có sinh nhật
                </div>
            </div>
        </div>
    </div>
</div>