<div class="hrm-home-page">
    <div class="hrm-title-page">
        <div>Dashboard</div>
    </div>
    <div class="container-pages">
        <div class="header">
            <div class="name-company">
                <div class="details-title">
                    <div>
                        <img src="assets/svg/hrm-icon-home-page.svg" class="logo" />
                    </div>
                    <div>
                        <div class="text-media">Sapioso Media</div>
                        <div class="text-date">24/10/2020</div>
                    </div>
                </div>
                <div class="by-date">
                    <div>
                        <img src="assets/svg/hrm-icon-arrow_forward.svg" />
                    </div>
                    <div class="text-by-date">xem theo ngày</div>
                    <div>
                        <img src="assets/svg/hrm-icon-arrow_right.svg" />
                    </div>
                </div>
            </div>
            <div class="dashboard leave-early" routerLink="/home/leftEarly">
                <div class="details-title">
                    <img src="assets/svg/hrm-icon-tle.svg" />
                    <div class="text-title">
                        Đi muộn, về sớm
                    </div>
                </div>
                <div class="number-employee">
                    05
                </div>
            </div>
            <div class="dashboard not-allowed" routerLink="/home/not-allowed">
                <div class="details-title">
                    <img src="assets/svg/hrm-icon-not-allowed.svg" />
                    <div class="text-title">
                        Nghỉ không phép
                    </div>
                </div>
                <div class="number-employee">0</div>
            </div>
            <div class="dashboard allowed" routerLink="/home/allowed">
                <div class="details-title">
                    <img src="assets/svg/hrm-icon-allowed.svg" />
                    <div class="text-title">Nghỉ có phép</div>
                </div>
                <div class="number-employee">
                    04
                </div>
            </div>
        </div>
        <div class="row hrm-p-t-40">
            <div class="col-6 col-left">
                <div class="overall">
                    <div class="title">Thống Kê</div>
                    <ul>
                        <li>Nhân viên mới, cũ</li>
                        <li>Thu chi hàng tháng</li>
                        <li>Tỉ lệ đi làm đúng giờ</li>
                        <li>Hợp đồng</li>
                        <li>Liên hệ nhà cung cấp</li>
                    </ul>
                    <div class="hrm-btn-contact">Liên hệ nhà cung cấp</div>
                </div>
                <img class="img-home-statistical" src="assets/svg/hrm-home-statistical.svg" />
            </div>
            <div class="col-6 col-right">
                <div>
                    <div class="overall-title">
                        <img src="assets/svg/hrm-icon-leave.svg" /> Đơn Xin nghỉ
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th colspan="2" class="th-title-table">Tên</th>
                                <th class="th-title-table">Nội dung</th>
                                <th class="th-title-table">Thời gian</th>
                                <th class="th-title-table">Trạng thái</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let i of ListDailyEmployeeleave">
                                <td> <img [src]="i.MediaURL" /> {{i.LastName}}</td>
                                <td>{{i.Description}}</td>
                                <td>{{i. StartTime | date}}</td>
                                <td>
                                    <div class="hrm-btn-confirm">Xác nhận</div>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
                <div class="birthday-content">
                    <img src="assets/svg/hrm-icon-birthday.svg" /> Hôm nay không có sinh nhật
                </div>
            </div>
        </div>
    </div>
</div>