<div class="create-modal">
    <div class="form-input">
        <div class="row">
            <div class="col-4">Chức vụ</div>
            <div class="col-8">
                <input type="text" class="hrm-input-create-employee" />
            </div>
        </div>
        <div class="row">
            <div class="col-4">Mức lương</div>
            <div class="col-8">
                <input type="text" class="hrm-input-create-employee" />
            </div>
        </div>
        <div class="row">
            <div class="col-4">Ngày hiệu lực</div>
            <div class="col-8">
                <input type="text" class="hrm-input-create-employee" />
            </div>
        </div>
        <div class="row">
            <div class="col-4">Chức vụ</div>
            <div class="col-8">
                <input type="text" class="hrm-input-create-employee" />
            </div>
        </div>
        <div class="row">
            <div class="col-4">Phòng ban</div>
            <div class="col-8">
                <input type="text" class="hrm-input-create-employee" />
            </div>
        </div>
    </div>
</div>

